<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To Dew</title>

</head>
<body>
  <head>
      <link rel="stylesheet" type="text/css" href="./client.css"/>
  </head>
  <body>

<div class="container", id="fire">
    <h2 class="text">TO DEW:</h2>
    <p class="text"><em>Achieve your destiny by slamming an ice cold mountain dew once the days tasks are done</em></p>

    <form name="toDoList">
        <input type="text" name="ListItem"/>
    </form>

    <div id="button">Add</div>
    <br/>
    <ol></ol>
</div>

  <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
  <script src="./client.js"></script>
  </body>
</html>
